<div class="span12">
	<%= link_to "Edit Card", edit_deck_flashcard_path(@deck, @flashcard.id, page: params[:page]) %> |
	<%= link_to "Delete Card", deck_flashcard_path(@deck, @flashcard.id, page: params[:page]), method: :delete, data: {confirm: "You sure?"} %>
</div>

<div class="flashcard-container span10 offset1">
	<div class='card_pagination'>
		<%= will_paginate @flashcards, page_links: false %>
	</div>
	<% @flashcards.each do |card| %>
		<div class="card">
			<div class="card-front"><span><%= card.side_one %></span></div>
			<div class="card-back"><span><%= card.side_two %></span></div>
		</div>
	<% end %>
</div>

<%= javascript_tag do %>
	$(function() {
		$('.card').on('click', function(e) {
			$(this).toggleClass('flipped');
		});
	});

<% end %>