
<%= link_to "Edit Card", edit_deck_flashcard_path(@deck, @flashcard.id, page: params[:page]) %> |
<%= link_to "Delete Card", deck_flashcard_path(@deck, @flashcard.id, page: params[:page]), method: :delete, data: {confirm: "You sure?"} %>

<div class="flashcard-container">
	<div class="row">
	<div class='card_pagination col-md-8 col-md-offset-2 col-xs-12"'>
		<%= will_paginate @flashcards, page_links: false %>
		<div class="random-link-container">
			<%= link_to "RANDOM", deck_flashcards_path(@deck, page: @random_index), {class: "random_page"} %>
		</div>
	</div>
	
	<% @flashcards.each do |card| %>
		<div class="col-md-8 col-md-offset-2 col-xs-12">
			<div class="card">
				<div class="card-front"><%= card.side_one %></div>
				<div class="card-back"><%= card.side_two %></div>
			</div>
		</div>
	<% end %>
</div>
</div>

<%= javascript_tag do %>
	$(function() {
		$('.card').on('click', function(e) {
			$(this).toggleClass('flipped');
		});
		$('.disabled').on('click', function(e) {
			e.preventDefault();
		});
	});

<% end %>