<div class="row"><h1><%= link_to @deck.title, @deck %></h1></div>
<div class="row">
	<%= link_to "Edit Card", edit_deck_flashcard_path(@deck, @flashcard) %> | 
	<%= link_to "Delete Card", deck_flashcard_path(@deck, @flashcard), method: :delete, data: {confirm: "You sure?"} %>
</div>

<div class="row">
	<div class ="flashcard-nav btn-group">
		<%= link_to "Prev", "#", class: "prev-link btn btn-primary" %>
		<%= link_to "Random", "#", class: "rand-link btn btn-primary" %>
		<%= link_to "Next", "#", class: "next-link btn btn-primary" %>
	</div>
</div>

<div class="row">
	<div class="flashcard-container span8 offset2 col-xs-10">
		<div class="card">
			<div class="card-front"><span><%= @front_content %></span></div>
			<div class="card-back"><span><%= @back_content %></span></div>
		</div>
	</div>
</div>
<%= javascript_tag do %>
	$(function() {
		$('.card').on('click', function(e) {
			$(this).toggleClass('flipped');
		});
	});

<% end %>

