<h1><%= @deck.title %></h1>
<%= link_to "Edit Deck", edit_deck_path(@deck) %> | 
<%= link_to "Delete Deck", deck_path(@deck), method: :delete, data: {confirm: "You sure?"} %>
<div>
	<%= link_to "Add Flashcard", new_deck_flashcard_path(@deck) %> 
	|
	<%= link_to "Upload Flashcards", deck_new_from_file_path(@deck) %> 
</div>
<ul class='flashcard-list'>
	<% if @flashcards.any? %>
		<%= render 'flashcards/flashcards_list' %>
	<% end %>
</ul>	
